.board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.row {
  display: flex;
}

.tile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #ccc;
  border-radius: 5px;
}
 
.tile-0 {
  background-color: #eee;
}

.tile-2 {
  background-color: #eee4da;
}

.tile-4 {
  background-color: #ede0c8;
}

.tile-8 {
  background-color: #f2b179;
}

.tile-16 {
  background-color: #f59563;
}

.tile-32 {
  background-color: #f67c5f;
}

.tile-64 {
  background-color: #f65e3b;
}

.tile-128 {
  background-color: #edcf72;
}

.tile-256 {
  background-color: #edcc61;
}

.tile-512 {
  background-color: #edc850;
}

.tile-1024 {
  background-color: #edc53f;
}

.tile-2048 {
  background-color: #edc22e;
}
